<h3>Interpolation: Do componente para HTML</h3>

<p [ngClass]="{
    'text-secondery': contadorClique < 3,
    'text-success': contadorClique >= 3,
    'text-warning': contadorClique >= 5,
    'text-danger' : contadorClique >= 10
}">O numero de cliques é: {{ contadorClique }}</p>
<br>
<br>

<h3>Property Binding: O valor da propriedade é alterado pelo Angular</h3>
<button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button><br>

<img [src]="urlImagem" height="40px" width="150px" />

<br>
<br>
<br>
<h3>Event Binding: Evento fica sobre responsabilidade do Angular</h3>
<!-- Eventos do HTML podem ser diferentes em Angular, necessario pesquisar os eventos do Angular similares ao do HTML -->
<button class="btn btn-warning" (click)='adicionarClique()'>Clique-me</button>&nbsp;
<button class="btn btn-danger" (click)='zerarContador()' [disabled]='contadorClique < 10'>Zerar Contador</button>

<br>
<br>

<h3>Two-way Binding RECOMENDADO: Alterando componente, automaticamete altera o HTML</h3>

<!-- <input type="text" (keyup)="KeyUp($event)" placeholder="Digite Seu Nome">
<br>
<br>
<label>Seu Nome é: {{ nome }}</label> -->

<!-- <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" placeholder="Digite Seu Nome">
<br>
<label>Seu nome é: {{ nome }}</label> -->

<input type="text" [(ngModel)]="nome" placeholder="Digite Seu Nome">
<br>
<label [ngClass]=" nome "> Seu nome é {{ nome }}</label>