<!-- Content -->
<div class="mx-5 px-5 mt-5 row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Sem custos</font>
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">$ 0 </font>
                    </font><small class="text-muted fw-light">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">/ mês</font>
                        </font>
                    </small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">10 usuários incluídos</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2 GB de armazenamento</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Suporte por email</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
                        </font>
                    </li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Cadastre-se gratuitamente</font>
                    </font>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Pró</font>
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">$ 15 </font>
                    </font><small class="text-muted fw-light">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">/ mês</font>
                        </font>
                    </small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">20 usuários incluídos</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">10 GB de armazenamento</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Suporte prioritário por e-mail</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
                        </font>
                    </li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">iniciar</font>
                    </font>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Empreendimento</font>
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">$ 29 </font>
                    </font><small class="text-muted fw-light">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">/ mês</font>
                        </font>
                    </small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">30 usuários incluídos</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">15 GB de armazenamento</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Suporte por telefone e e-mail</font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Acesso ao centro de ajuda</font>
                        </font>
                    </li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Contate-Nos</font>
                    </font>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->